<div class="sidebar">
  <nav class="sidebar bg-dark text-white p-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/clientes">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/cuentas">Cuentas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/movimientos">Movimientos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/reportes">Reportes</a>
      </li>
    </ul>
  </nav>
</div>
  