<div class="gestion-entidades">

  <div *ngIf="mensajeError" class="error-message">
    {{ mensajeError }}
  </div>

  <h2>Gestion de Clientes</h2>

  <form *ngIf="formularioVisible" [formGroup]="clienteForm" (ngSubmit)="guardarCliente()" class="general-form">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" formControlName="name"  required>
      <div class="error" *ngIf="clienteForm.get('name')?.invalid && clienteForm.get('name')?.touched">
        El nombre es obligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Género</label>
      <select id="gender" formControlName="gender" >
        <option value="MASCULINO">Masculino</option>
        <option value="FEMENINO">Femenino</option>
      </select>
    </div>
    <div class="form-group">
      <label for="age">Edad</label>
      <input type="number" id="age" formControlName="age"  required>
      <div class="error" *ngIf="clienteForm.get('age')?.invalid && clienteForm.get('age')?.touched">
        <span *ngIf="clienteForm.get('age')?.errors?.['required']">La edad es obligatoria.</span>
        <span *ngIf="clienteForm.get('age')?.errors?.['min']">Debe ser mayor a 0.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="dni">Identificación</label>
      <input type="text" id="dni" formControlName="dni"  required>
      <div class="error" *ngIf="clienteForm.get('dni')?.invalid && clienteForm.get('dni')?.touched">
        <span *ngIf="clienteForm.get('dni')?.errors?.['required']">La identificación es obligatoria.</span>
        <span *ngIf="clienteForm.get('dni')?.errors?.['pattern']">Solo se permiten números.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="address">Dirección</label>
      <input type="text" id="address" formControlName="address" >
      <div class="error" *ngIf="clienteForm.get('address')?.invalid && clienteForm.get('address')?.touched">
        La direccion es obligatoria.
      </div>
    </div>
    <div class="form-group">
      <label for="telephone">Teléfono</label>
      <input type="text" id="telephone" formControlName="telephone" >
      <div class="error" *ngIf="clienteForm.get('telephone')?.invalid && clienteForm.get('telephone')?.touched">
        El teléfono es obligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="state">Estado</label>
      <select id="state" formControlName="state" >
        <option value="ACTIVO">Activo</option>
        <option value="INACTIVO">Inactivo</option>
      </select>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" >
      <div class="error" *ngIf="clienteForm.get('password')?.invalid && clienteForm.get('password')?.touched">
        La contraseña es obligatoria.
      </div>
    </div>
    <div class="form-buttons">
      <button type="submit" >{{ editando ? 'Actualizar' : 'Guardar' }}</button>
      <button type="button" (click)="cancelarFormulario()">Cancelar</button>
    </div>
  </form>

  <div  class="acciones">
    <button  (click)="nuevoCliente()" >Nuevo Cliente</button>
    
    <div >
      <input type="text"  [(ngModel)]="filtroId" (ngModelChange)="filtrarClientes(filtroId)"  placeholder="Buscar por ID Cliente" aria-label="Buscar">
      
    </div>
  </div>

  <table class="general-table">
    <thead >
      <tr>
        <th>Nombre</th>
        <th>Género</th>
        <th>Edad</th>
        <th>Identificación</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clientesFiltrados">
        <td>{{ client.name }}</td>
        <td>{{ client.gender }}</td>
        <td>{{ client.age }}</td>
        <td>{{ client.dni }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.telephone }}</td>
        <td>{{ client.state }}</td>
        <td class="actions">
          <button  (click)="updateClient(client)">Editar</button>
          <button  (click)="deleteClient(client.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
