<div class="gestion-entidades">

  <div *ngIf="mensajeError" class="error-message">
    {{ mensajeError }}
  </div>
  
  <h2>Gestion de Movimientos</h2>

  <form *ngIf="formularioVisible" [formGroup]="transactionForm" (ngSubmit)="guardarTransaction()" class="general-form">
    <div class="form-group">
      <label for="transactionType">Tipo de movimiento</label>
      <select id="transactionType" formControlName="transactionType" >
        <option value="DEBITO">Debito</option>
        <option value="CREDITO">Credito</option>
      </select>
    </div>
    <div class="form-group">
      <label for="value">Valor</label>
      <input type="number" id="value" formControlName="value" required>
      <div class="error" *ngIf="transactionForm.get('value')?.invalid && transactionForm.get('value')?.touched">
        El valor es obligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="accountId">Id de la cuenta</label>
      <select id="accountId" formControlName="accountId" >
        <option *ngFor="let account of accounts" [value]="account.id">{{ account.accountNumber }}</option>
      </select>
    </div>
  
    <div class="form-buttons">
      <button type="submit" >{{ editando ? 'Actualizar' : 'Guardar' }}</button>
      <button type="button"  (click)="cancelarFormulario()">Cancelar</button>
    </div>
    
  </form>
  <div class="acciones">
    <button (click)="nuevaTransaction()" >Nueva Transaccion</button>
    <div >
      <input type="text" [(ngModel)]="filtroId" (ngModelChange)="filtrarTransactions(filtroId)"  placeholder="Buscar por ID Transaccion" aria-label="Buscar">
      
    </div>
  </div>
  <table class="general-table">
    <thead >
      <tr>
        <th>Fecha de movimiento</th>
        <th>Tipo de transacción</th>
        <th>Valor</th>
        <th>Balance</th>
        <th>Numero de cuenta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactionsFiltradas">
        <td>{{ transaction.date | date }}</td>
        <td>{{ transaction.transactionType }}</td>
        <td>{{ transaction.value }}</td>
        <td>{{ transaction.balance }}</td>
        <td>{{ getAccountNumber(+transaction.accountId) }}</td>
        <td class="actions">
          <button  (click)="updateTransaction(transaction)">Editar</button>
          <button  (click)="deleteTransaction(transaction.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
